.range-picker-gregory-en-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #cccc;
  border-radius: 10px;
  padding: 2rem;
}
.range-picker-gregory-en {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.range-picker-gregory-en-desc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
  flex-wrap: wrap;
}
.range-picker-gregory-en-desc-row{
  width: 100%;
  display: flex;
  gap: 20px;
}
