.date-picker-gregory-en-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #cccc;
  border-radius: 10px;
  padding: 2rem;
}
.date-picker-gregory-en {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 2rem;
  border-radius: 10px;
}
.date-picker-gregory-en-desc {
}
